    * {
    margin: 0;
    padding: 0;
}

.note-space{
    width: 100%;
    height: 100%;
    position: relative;
}
.directories{
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 95.3vh;
    border: 2px solid;
    border-color: green;
}



.dir-list-a{
    font-family: 'Jetbrains Mono';
    font-size: 20px;
    font-weight:500;
    border: 1px solid red;
}

.dir-selected {
    font-family: 'Jetbrains Mono';
    font-size: 20px;
    font-weight:500;
}

.notes-list{
    position: absolute;
    top: 0;
    left: 15%;
    width: 25%;
    height: 95.3vh;
}

.note-preview {
    height: 100px;
    border: 2px solid;
    border-color: red;
}

.note-preview-selected{
    height: 100px;
    border: 2px solid;
    border-color: red;
    background-color: rgb(255, 246, 150);
}

.note-preview ,
.note-preview-selected {
    font-family: 'Jetbrains Mono';
    font-size: 14px;
    font-weight:500;
}

.note-field{
    width: 59.7%;
    height: 95.3vh;
    position: absolute;
    top: 0;
    left: 40%;
    border: 2px solid;
    border-color: yellow;
}

.note-toolbar {
    position: absolute;
    top: 0;
    right: 50%;
}

#delete-note {
    position: absolute;
    right: 540px;
    top: 8px;
}

#add-note {
    position: absolute;
    top: 8px;

}

#save-note {
    position: absolute;
    top: -4.5%;
    right: 10px;
}

.note-userspace {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 95%;
}

button {
    background-color: transparent;
}

#note-form {
    width: 100%;
    height: 100%;
}

textarea{
    outline: none;
    resize: none;
}

#note-title-field {
    width: 94%;
    margin-left: 3%;

    font-family: 'Jetbrains Mono';
    font-size: 24px;
    font-weight:700;
}

#note-content-field {
    width: 94%;
    margin-left: 3%;
    min-height: 90%;

    font-family: 'Jetbrains Mono';
    font-size: 14px;
}


#add-dir-form{
    position: absolute;
    bottom: 0;
}

#dir-title-field{
    height: 20px;
    width: 220px;
    margin-bottom: 10px;
    margin-left: 10px;

    font-family: 'Jetbrains Mono';
    font-size: 14px;
}

#add-dir-btn {
    position: absolute;
    bottom: 5px;
    left: 250px;
}

#dir-title-field{
    outline: solid;
}