{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{service_title}}Proda</title>
    <link rel="icon" href="{% static 'homescreen/imgs/icon.ico' %}" type="image/icon type">
</head>
<body>
<header>
    <div class="logo"><a href="#"><img src="" alt=""></a></div>
    <div class="notifications"></div>
    <div class="services"></div>
    <div class="create"></div>
    <div class="usermenu"></div>
</header>
{% block content %}

{% endblock %}
</body>
</html>