{% extends 'homescreen/base.html' %}
{% load static %}

{%block additional_head%}
    <link rel="stylesheet" href="{% static 'homescreen/css/homescreen.css' %}">
    <script src="{% static 'homescreen/js/homescreen.js' %}"></script>
    <!-- Outsource Imports -->
{%endblock%}

{% block content %}
<div class="container">
    <div class="timeblock">
        <p id="time-counter"></p>
    </div>

    <div class="weather-widget">
        <p id="location-country" >{{weather_country}}|</p>
        <p id="location-city">{{weather_city}}</p>
        <p id="weather-temp">{{temperature}}°</p>
        <p id="temp-feels-like">({{temp_feels_like}}°)</p>
        <p id="humidity">Humidity:{{humidity}}%</p>
        <p id="weather-desc">{{weather_description}}</p>
        <p id="wind">
            <span class="material-symbols-outlined">wind_power</span>
            {{wind}}m/s
        </p>
    </div>

    <div class="notes-widget">
        <a id="note-widget-title" href="{% url 'note_home' %}">Notes</a>
        <button id="add-note">
            <a href="{% url 'note_add' dir_id=notes_left.first.directory.pk %}"><span class="material-symbols-outlined">add</span></a>
        </button>
        <div class="notes-widget-list-space">
            {% for note in notes_left %}
            <a href="{% url 'notes' note.pk %}">
                <div class="notes-widget-preview">
                    <h2 class="note-widget-title">{{note.title}}</h2>
                    <!-- <hr style="border: 1px solid rgba(122, 121, 151, 001); width:90%; margin-top: 5px; margin-left: 5%;"> -->
                    <p class="note-widget-content">{{note.content}}</p>
                </div> 
            </a>
        {% endfor %}
        <div class="notes-widget-half-right">
            {% for note in notes_right %}
            <a href="{% url 'notes' note.pk %}">
                <div class="notes-widget-preview">
                    <h2 class="note-widget-title">{{note.title}}</h2>
                    <!-- <hr style="border: 1px solid rgba(122, 121, 151, 001); width:90%; margin-top: 5px; margin-left: 5%;"> -->
                    <p class="note-widget-content">{{note.content}}</p>
                </div> 
            </a>
        {% endfor %}
        </div>     
        
        </div>
    </div>
</div>




<script type="text/javascript">
    setInterval(updateTime, 100);
</script>
    
{% endblock %}
