{% extends 'homescreen/base.html' %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}

{% block content %}
<div class="note-space">
    <div class="directories">
        {% for dir in directories %}
        <a href="#">{{dir.title}}</a>
        {% endfor %}
    </div>
    <div class="notes-list">
        {% for note in notes %}
        {% if note == note_selected %}
        <a href="{% url 'notes' note.pk %}">
            <div class="note-preview-selected">
                {{note.title}}
            </div>
        </a>
        {% else %}
        <a href="{% url 'notes' note.pk %}">
            <div class="note-preview">
                {{note.title}}
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="note-field">
        <div class="note-toolbar">
            <button id="delete-note">
                <a href="{% url 'note_delete' note_id=note_selected.pk %}">
                    <span class="material-symbols-outlined">delete_sweep</span>
                </a>
            </button>
            <!-- <button id="tune-note">
                <a href="{% url 'note_edit' note_id=note_selected.pk %}">
                    <span class="material-symbols-outlined">tune</span>
                </a>
            </button> -->
            <button id="add-note">
                <a href="{% url 'note_add' %}">
                    <span class="material-symbols-outlined">open_in_new</span>
                </a>
            </button>
        </div>
        <div class="note-userspace">
            <form id="note-form" action="{% url 'note_edit' note_id=note_selected.pk %}" method="post">
                {% csrf_token %}
                <textarea id="note-title-field" type="text" name="title">{{ note_selected.title }}</textarea>
                <textarea id="note-content-field" type="text" name="content">{{ note_selected.content }}</textarea>
                <button type="submit">
                    <span id="save-note" class="material-symbols-outlined">
                        done
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'notes/js/notes.js'%}"></script>
{% endblock %}