{% extends 'homescreen/base.html' %}
{% load static %}

{% block additional_head %}
<link rel="stylesheet" href="{% static 'notes/css/notes.css' %}">
{% endblock %}

{% block content %}
<div class="note-space">
    <div id="dir-list" class="directories">
        {% for dir in directories %}
        {% if dir == dir_selected %}
        <a class="dir-selected" href="">{{dir.title}}</a><br>
        {% else %}
        <a class="dir-list-a" href="{% url 'notes_dir' dir_id=dir.pk %}">{{dir.title}}</a><br>
        {% endif %}
        {% endfor %}

        <form id="add-dir-form" action="{% url 'add_directory' %}" method="post">
            {% csrf_token %}
            <input id="dir-title-field" type="text" name="title"></input>
            <button id="add-dir-btn" type="submit">
                <span class="material-symbols-outlined">
                    done
                </span>
            </button>
                
            </button>
        </form>
    </div>
    <div class="notes-list">
        {% for note in notes %}
        {% if note == note_selected %}
        <a href="{% url 'notes_dir_w_note' dir_id=dir_id note_id=note.pk  %}">
            <div class="note-preview-selected">
                {{note.title}}
            </div>
        </a>
        {% else %}
        <a href="{% url 'notes_dir_w_note' dir_id=dir_id note_id=note.pk %}">
            <div class="note-preview">
                {{note.title}}
            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
    <div class="note-field">
        
        <div class="note-userspace">
            <form id="note-form" action="{% url 'note_edit' dir_id=dir_id note_id=note_selected.pk %}" method="post">
                {% csrf_token %}
                <textarea id="note-title-field" type="text" name="title">{{ note_selected.title }}</textarea>
                <textarea id="note-content-field" type="text" name="content">{{ note_selected.content }}</textarea>
                <button type="submit">
                    <span id="save-note" class="material-symbols-outlined">
                        done
                    </span>
                </button>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'notes/js/notes.js'%}"></script>
{% endblock %}